
form{
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  width: fit-content;
  padding: 10px;
  padding-top: 0;
  margin:30px;
}
div{
  padding-top: 10px;
}
form :nth-child(1){
  padding-top: 0;
}
label{
  font-weight: bold;
}
.gbpcontainer{
  border-bottom: 2px solid black;
  width: fit-content;
}
button{
  border-radius: 5px;
}
button:hover{
  background-color: rgb(53, 48, 48);
  margin-left: 1px;
}